<h1>
  {{title}}
</h1>

<form #f="ngForm" [formGroup]="formModel"
      (ngSubmit)="onSubmit(f.value, f.valid)"
      novalidate>

  <div>
    Username:
    <input type="text" formControlName="username">
  </div>

  <div>
    SSN:
    <input type="text" formControlName="ssn" ngModel ssn>
    <span [hidden]="!f.form.hasError('ssn', 'ssn')">SSN in invalid</span>
  </div>

  <div formGroupName="passwordsGroup" equal>

    <div>
      Password:
      <input type="password" formControlName="password">
      ➥
      <span [hidden]="!f.form.hasError('minlength', ['passwordsGroup','password'])">
        Password is too short
      </span>
    </div>

    <div>
      Confirm password:
      <input type="password" formControlName="pConfirm">
      ➥
      <span [hidden]="!f.form.hasError('equal', 'passwordsGroup')">
        Passwords must be the same
      </span>
    </div>

  </div>
  <button type="submit">Submit</button>
</form>
